<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Fido2020 Registartion</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>FidoNet2020</h1>        
    </header>
    <main>
        <!-- TODO: add error banner -->
<form action="/register" method="POST">
    <label>
        Login:<br>
    <input type="text" name="Login"><br>
    </label><br>
    <label>
        Password:<br>
    <input type="password" name="password"><br>
    </label><br>
    <label>
        Repeat Password:<br>
        <input type="password" name="password-repeat"><br>
        </label><br>
    <input type="submit" value="Register">
</form>
    </main>
    <footer>
        &copy; 2020
    </footer>
    <!-- TODO: add script to check password correct -->
</body>
</html>